<a href="/#!">Return</a>

<h1><u>{{city}} is currently:</u></h1>
<h2>Temperature: {{temperature}}</h2>
<h3>Feels like: {{feelsLike}}</h3>
<h3>Current Condition: {{condition}}</h3>
<h3>Humidity: {{humidity}}</h3>
<h3>Wind: {{wind}}</h3>
<h3>Current Pressure: {{pressureMB}} MB, {{pressureIN}} IN</h3>
<h3>Current Dewpoint: {{dewpoint}}</h3>
<h3>Heat Index: {{heat}}</h3>
<h3>Windchill: {{chill}}</h3>
<h3>Current Visibility: {{visibility}} Miles</h3>
<h3>Precipitation: {{precip}}</h3>
<h3>Latitude: {{lat}}</h3>
<h3>Longitude: {{long}}</h3>
<h3>Elevation: {{elevation}}</h3>
<h5>{{localTime}}</h5>
<h6>{{time}}</h6>

<h3>Current Radar for {{city}}</h3>

<a href="/#!">Return</a>
